<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>  Plant a Tree </title>
      <link rel="stylesheet" href="/css/item.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <% include partials/nav.ejs %>
        <header>
          <% include partials/headers.ejs %>
        </header>
      <div class="container-fluid">
        <% include partials/sidenav.ejs %>
          <div class ="main">
            <ul class="breadcrumb">
              <li><a href="/">Home</a></li>
              <li><a href="/categories" >Categories</a></li>
              <li>Item</li>
            </ul>
                  <div class="item1">
                    <img src="<%= data.item.imageURL %>" alt ="image of dwarf did not load">
                    <div class="desc-item">
                      <h2> <%= data.item.itemName %></h2>
                      <h3><%= data.item.catalogCategory %></h3>
                      <% let count =  data.item.rating;
                        for(var i=0;i< 5;i++){
                          if(count > 0){  %>
                            <span class="fa fa-star checked"></span>
                           <% }else{  %>
                            <span class="fa fa-star"></span>
                      <%    }
                          count = count - 1;
                        }%>
                    </div>
                  </div>


            <div class="button">
                <form method="POST" >
               <a href="/profileController/save/<%= data.item.itemCode %>" class ="btn btn-primary" > Save it! </a>
                <a href="/profileController/feedback/<%= data.item.itemCode %>" class ="btn btn-primary" > Rate it! </a>
              </form>

            </div>

            <article class="prduct_Desc">
              <h3> PRODUCT DESCRIPTION </h3>
              <p><%= data.item.description %> </p>
              <h3>Temperature: </h3>
              <p> <%= data.item.temperature %> </p>
              <h3> Watering: </h3>
              <p><%= data.item.watering %></p>
              <h3> Fertilizing: </h3>
              <p><%= data.item.fertilized %></p>
              <h3> Pruning / Training:</h3>
              <p> <%= data.item.training %></p>
                <a href="/categories" class ="btn btn-primary" > Back </a>

        </article>
      </div>
    </div>
    <% include partials/footer.ejs %>
  </body>
</html>
